body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
    
.flex-container {
   width: 100vw;
   height: 100vh;
   background-color: rgb(242, 237, 248);
   display: flex;
   flex-direction: row-reverse;
   gap: 1rem;
}

.header {
  background-color: rgb(202, 235, 118);
  display: flex;
  justify-content:center;
  border-bottom: 2px solid black;
   
}  

.navbar {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: center; 
    list-style: none; 
    padding: 0;
    margin: 0;
    background-color: #efecec; 
}
  
.navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    list-style-type: none;
}

.navbar ul li a {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 10px;
}

.navbar ul li a:hover {
    background-color: black;
    color: white;
}
a:hover {
    background-color: black;
    color: white;
}

.column1 {
    flex: 2;
}

.column2 ul li {
    flex: 1;
}

.column3 {
    flex: 1;
}

@font-face {
    font-family: 'CustomSerif';
    src: url('path-to-serif-font.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'CustomSans';
    src: url('path-to-sans-serif-font.woff2') format('woff2');
  }
h1 {
    text-align: center;
    letter-spacing: 0.1rem;
}

  body {
    font-family: 'CustomSerif', serif;
    font-size: 10px;
    line-height: 1.6;
  }

  
  h1, h2 {
    font-family: 'CustomSans', sans-serif;
    letter-spacing: 0.1rem;
  }  

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(202, 235, 118);
    border-top: 2px solid black;
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
  }
  p {
    padding-left: 2%;
  }

  h2 {
    text-align: center;
  }